/* .Board {
  display: flex;
  padding: 30px;
}

.game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
} */
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 85px);
  gap: 2px;
}

.grid-container img {
  width: 80px;
  height: auto;
}

.grid-item:hover {
  transform: rotate(5deg) scale(1.1);
  cursor: grab;
  transition: all .14s ease;
}