/* .Board {
  display: flex;
  padding: 30px;
}

.game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
} */

.grid-container img {
  width: 80px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
}